html, body {
    height: 100%;
}
.fill{
    min-height: 60%;
}
 .navbar-inner{
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
}

 #loading-indicator {
    position: absolute;
     top: 200px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}


/* Set the fixed height of the footer here */
.push,
footer {
min-height: 60px;
}
footer {
background-color: #f5f5f5;
    text-align: center;
}
 .footer-links {
     margin: 10px 0;
 }
 .footer-links li {
     display: inline;
     padding: 0 2px;
 }
 .footer-links li:first-child {
     padding-left: 0;
 }





 input[type="text"]{
     min-width:300px;
 }
 textarea{
     min-width: 300px;
     height: 100px;
 }



 .table_container {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

 .table_container:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

 .table_name_questions:after{ content: "Questions"; }
.table_name_ranking:after{ content: "Ranking"; }


div.btn-group[data-toggle=buttons-radio] input[type=radio] {
  display:    block;
  position:   absolute;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  opacity:    hidden;
  visibility: hidden;
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
    .green_frame {
        border: 2px solid green;
    }
    .range_td{
        width: 200px;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .table_container {
        margin:  0;
        padding: 30px 0px 20px 0px;
        *padding-top: 0;
    }
    .green_frame {
        /*border: 2px solid green;*/
    }
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .resp_td{
        display: block;
    }
    .resp_idx_td, .resp_th{
        display: none;
    }
}
