{% extends 'frame.html' %}

{% block nav %}
<li class="inactive"><a href="../simple/">Simple Topics</a></li>
<li class="inactive"><a href="../combined/">Combined Topics</a></li>
<li class="active"><a href="../about/">About</a></li>
{% endblock %}

{% block body %}
{% raw %} <!--angular starts here-->
        <div>

            <h4>Department of Computer Science and Engineering, HKUST </h4>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>


        </div>

{% endraw %} <!--angular ends here-->


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-highcharts-directive/highchart.js') }}"></script>
{% endblock %}
