<!doctype html>

<html>
<head>
 <meta charset="UTF-8">
<meta  content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport"/>
<meta name="apple-mobile-web-app-capable" content="yes" />


    <title>
        {% block title %}
             Event Detection Demo
        {% endblock %}
    </title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">

    <link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="../">Event Detection Demo</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% block nav %}
                        <li class="active"><a href="./">Hashtags</a></li>
                        <li class="active"><a href="./hash-topic/">Topics</a></li>
                        <li class="active"><a href="./about/">About</a></li>
                    {% endblock %}
                </ul>

                <ul class="nav pull-right">
                    {%  if g.user %}
                        <li class="pull-right"><a>{{ g.user.name }}</a></li>
                    {% endif %}
                </ul>

            </div>
            </div>
        </div>
    </div>
</div>


<div class="container">

<!--{#<h3>important: please send me an <a href="mailto:zchenah@ust.hk">email</a> so we can keep in touch.</h3>#}-->
<!--{#<h4>the layout is not suitable for cellphones, which will be updated in this week.</h4>#}-->

<!--<span class="label label-info">You can access from cellphones now.</span> <br/>-->
<!--<span class="label label-info">If you get any compatibility issues,</span>-->
<!--<span class="label label-info">please let me know.</span>-->

    {% block body %}
    {% endblock %}


<img src="{{  url_for('static', filename='img/loading.gif')}}" id="loading-indicator" style="display:none" />

</div>

<footer>
        <p>Designed and constructed by
            <a href="http://www.weibo.com/chenzhaosg" target="_blank">@rabbitKeeper</a> .</p>
        <p> Powered by <a href="http://bootstrap.com" target="_blank">Bootstrap</a>,
                        <a href="http://flask.pocoo.org/">Flask</a>.</p>

        <ul class="footer-links">
            <li class="muted">·</li>
            <li><a href="mailto:zchenah@ust.hk">issues</a></li>
            <li class="muted">·</li>
            <!--<li><a href="https://github.com/chenzhao/EasyLabelling">changelog</a></li>-->
            <li class="muted">·</li>
            <li><a href="../about">about us</a></li>
            <li class="muted">·</li>
            <li><a href="mailto:zchenah@ust.hk">contact</a></li>
        </ul>
</footer>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap-2.1.3/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts-3.0.4/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-1.1.5/angular.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-1.1.5/angular-resource.js') }}"></script>


{% block js %}
{% endblock %}

</body>
</html>