{% extends 'frame.html' %}

{% block nav %}
<li class="active"><a href="../event/">Events by day</a></li>
<li class="inactive"><a href="../simple/">Simple Topics</a></li>
<li class="active"><a href="../combined/">Combined Topics</a></li>
<li class="inactive"><a href="../about/">About</a></li>
{% endblock %}

{% block body %}
{% raw %} <!--angular starts here-->

<div ng-app="hw_demo">

    <div ng-controller="TopicCtrl">
        <div id="topic_chart" ></div>

        <div id="topic_chart2" ></div>

    </div>

    <!--<div ng-view>-->
    <!--</div>-->

</div>

{% endraw %} <!--angular ends here-->


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-highcharts-directive/highchart.js') }}"></script>
{% endblock %}
